{{ block title }}
    <title>
        Povedek Experiment
    </title>
{{ endblock }}


{{ block scripts }}
    {% load static %}
    <script src="{% static 'main.js' %}"></script> 
{{ endblock }}


{{ block style }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{{ endblock }}

{{ block content }}
    <div class="popup" id="popup-1">
        <div class="overlay"></div>
        <div class="content">
            <p><b>Вы уверены, что ознакомились с правилами игры и готовы начать игру?</b><p>
            <div class="confirm-btn-container">
                <button type="button" id="confirm-btn" onclick=closePopup()>Да, я прочитал правила и хочу начать игру</button>
            </div>
            <div class="reject-btn-container">
                <button type="button" id="reject-btn" onclick=closePopup()>Нет, я хочу вернуться к правилам</button>
            </div>
        </div>
    </div>

    <div class="welcome-text">
        <p>
            <b>Уважаемый участник эксперимента!</b><br>
            Спасибо, что откликнулись на приглашение поучаствовать в нашем эксперименте! Пожалуйста, внимательно прочитайте информацию на этой странице.
            В этом эксперименте вы будете играть в игру. Вашим соперником будет другой участник эксперимента.
        </p>
    </div>

    <div class="game-rules">
        <p><b>Правила игры:</b><p>
        <p>Игра будет состоять из пяти раундов</p>
        <p>
            На каждом раунде вам и вашему сопернику необходимо будет предположить ответ на сложное у
            равнение. На ввод ответа в каждом раунде даётся 10 секунд. Не пытайтесь решить уравнение – у вас не хватит времени, вводите в поле для ответа то число, которое вам кажется наиболее вероятным ответом. Участник, чей ответ окажется наиболее близок к правильному, выигрывает раунд. В случае, если ваши ответы совпадут, мы выберем победителя раунда случайным образом.<br>
            Победитель раунда получает 100 очков. Проигравший в раунде получает 0 очков.<br>
            Верный ответ на уравнение является целым положительным числом, поэтому ответ должен содержать только цифры! Ответы с пробелами, точками,  запятыми, минусами, плюсами и любыми иными символами, кроме цифр, не засчитываются! 
            Кто быстрее введёт ответ в раунде – значения не имеет.<br>
            По истечению 10 секунд ответ в поле будет сохранён автоматически и начнётся следующий раунд. Кнопки “Сохранить ответ” НЕ будет.
        </p>
    </div>
    <div class="game-rules-bottom">
        <div class="left-gif-container">
            <p>Суммарный выигрыш будет подсчитан после 5 раунда.</p>
            <label class="checkbox" for="checkbox-agreement">
                <input type="checkbox" id="check-agreement" onchange=openPopup()>
                    <div style="margin-left: 10px;">
                        <b>Я ознакомился с правилами игры и готов начать!</b>
                    </div>
            </label>
            {{ next_button }}
        </div>
    </div>
    {{ formfields }}
{{ endblock }}
